@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");

//reset
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  font-family: "Roboto Condensed", sans-serif;
  color: inherit;
  text-decoration: inherit;
}

footer,
header,
nav,
section,
main {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

.navbar {
  background-color: #0f100f;
  height: 100px;
  width: 100%;
}

//cała app:
.wholeApp {
  background-color: #0f100f;
  width: 100vw;
  height: 100vh;
}

html {
  background-color: #181717;
}
//partickles

//nav and buttons:

.navigation {
  @media only screen and (max-width: 999px) {
    display: none;
  }

  @media only screen and (min-width: 1000px) {
    a {
      color: #ffffff;
      text-decoration: none;
      cursor: pointer;
      font-size: 3rem;
      line-height: 4;
    }

    position: absolute;
    bottom: 5vw;
    align-items: center;
    left: 5vw;

    .navButtons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .navButtonWrapper {
        display: flex;
        position: relative;
        height: 3rem;
        margin-bottom: 10px;
        justify-content: flex-start;
        align-items: center;
      }
    }
  }
}

.mobileNavigation {
  @media only screen and (min-width: 999px) {
    display: none;
  }
  height: 0;
  background-color: transparent;

  a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
  }

  @media only screen and (max-width: 1000px) {
    .menu__btn {
      position: fixed;
      right: 0;
      top: 5vh;

      width: 64px;
      height: 64px;
      cursor: pointer;
      z-index: 1;
      background-image: url("../../icons/menu_open_FILL0_wght400_GRAD0_opsz48.svg");
    }

    .nav-menu {
      background-color: #676565;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      right: -100%;
      transition: 0.2s;
      z-index: 1000;
      opacity: 0.95;
    }

    .nav-menu.active {
      right: 0;
      transition: 0.2s;
    }

    .nav-text {
      display: flex;
      justify-content: center;
      align-items: center;
      justify-self: center;
      align-self: center;
      list-style: none;
      width: 100vw;
      height: 5rem;
    }

    .nav-text a {
      text-decoration: none;
      color: #232323;
      font-size: 2rem;
      width: 100%;
      height: 100%;
      justify-self: center;
      align-self: center;
      display: flex;
      align-items: center;
    }

    a {
      display: flex;
      justify-content: center;
    }

    .nav-menu-items a:hover {
      background-color: #5e5e5e;
    }

    .nav-menu-items {
      justify-self: center;
      align-self: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100vw;
    }

    .navbar-toggle {
      background-color: #ffffff;
      width: 100%;
      height: 80px;
      display: flex;
      justify-self: center;
      align-self: center;
      justify-content: center;
      align-items: center;
    }
  }
}

//specific sections:

.mainPage {
  height: 100vh;
  width: 100vw;
  background-color: #181717;

  @media (min-width: 1000px) {
    .contactArea {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: absolute;
      top: 5vw;
      right: 5vw;

      .contactText {
        color: #ffffff;
      }
      .name {
        font-size: 5rem;
      }
      .title {
        font-size: 2rem;
      }
      .linkedIn {
        margin-top: 1rem;
        font-size: 1.5rem;
        color: white;
        text-decoration: none;
      }
      .gitHub {
        margin-top: 1rem;

        font-size: 2rem;
        color: white;
      }
    }
  }
  @media (max-width: 999px) {
    .contactArea {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-end;
      position: absolute;
      bottom: 5vh;
      right: 5vw;

      .contactText {
        color: #ffffff;
      }
      .name {
        font-size: 3rem;
      }
      .title {
        margin-top: 1rem;
        font-size: 1.2rem;
      }
      .linkedIn {
        margin-top: 1rem;
        font-size: 1.5rem;
        color: white;
        text-decoration: none;
      }
      .gitHub {
        margin-top: 1rem;
        font-size: 1.8rem;
        color: white;
      }
    }
  }
}
.skills {
  @media (min-width: 1000px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    background-color: #181717;

    span {
      margin-left: 5rem;
      font-size: 2rem;
    }

    .bothDivs {
      height: 90vh;
      width: 70vw;
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 5vw;

      .skillsSection {
        color: white;
        font-size: 2rem;
        height: 45vh;
        width: 70vw;
        background-color: #302f2f;
        border-radius: 30px;
        top: 10vh;
        right: 5vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-bottom: 5vh;

        .icons {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;

          .technologies {
            color: white;
            font-size: 2rem;
            display: flex;
            flex-direction: column;

            .item {
              display: flex;
              flex-direction: row;
              align-items: center;
              margin-top: 1rem;
              height: 5vh;

              .technologyName {
                margin-left: 2rem;
              }

              .js {
                height: 5vh;
                width: 5vh;
                background: url(../../icons/js.png);
                background-repeat: no-repeat;
                background: contain;
                background-size: contain;
              }
              .ts {
                height: 5vh;
                width: 5vh;
                background: url(../../icons/typescript.png);
                background-repeat: no-repeat;
                background: contain;
                background-size: contain;
              }
              .react {
                height: 5vh;
                width: 5vh;
                background: url(../../icons/react.png);
                background-repeat: no-repeat;
                background: contain;
                background-size: contain;
              }
              .html {
                height: 5vh;
                width: 5vh;
                background: url(../../icons/html-5.png);
                background-repeat: no-repeat;
                background: contain;
                background-size: contain;
              }
              .bootstrap {
                height: 5vh;
                width: 5vh;
                background: url(../../icons/bootstrap.png);
                background-repeat: no-repeat;
                background: contain;
                background-size: contain;
              }
              .css {
                height: 5vh;
                width: 5vh;
                background: url(../../icons/css-3.png);
                background-repeat: no-repeat;
                background: contain;
                background-size: contain;
              }
              .sass {
                height: 5vh;
                width: 5vh;
                background: url(../../icons/sass.png);
                background-repeat: no-repeat;
                background: contain;
                background-size: contain;
              }
              .api {
                height: 5vh;
                width: 5vh;
                background: url(../../icons/api.png);
                background-repeat: no-repeat;
                background: contain;
                background-size: contain;
              }
            }
          }
        }
      }
      .textColumn {
        color: white;
        font-size: 2rem;
        height: 45vh;
        width: 70vw;
        background-color: #302f2f;
        border-radius: 30px;
        top: 10vh;
        right: 5vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .textList {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

.projects {
  @media (min-width: 1000px) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #181717;
    .container {
      background-color: #302f2f;
      border-radius: 30px;
      position: absolute;
      right: 5vw;
      padding: 5vh;
      height: 90vh;
      width: 70vw;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      .firstRow,
      .secondRow {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 50%;
        align-items: center;
        justify-content: center;
        .item {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          height: 70%;
          width: 33%;
          background-color: rgb(83, 81, 81);
          margin: 1vw;
          border-radius: 25px;
          border: 5px solid black;
          .projectName {
            font-size: 1.3rem;
          }

          .resumeIcon {
            margin-top: 1vh;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60%;
            width: 60%;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url("../../icons/resumeIcon.png");
          }
          .foodIcon {
            margin-top: 1vh;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60%;
            width: 60%;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url("../../icons/pngwing.com.png");
          }
          .clothesIcon {
            margin-top: 1vh;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60%;
            width: 60%;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url("../../icons/wieszak.png");
          }
          .questionIcon {
            margin-top: 1vh;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60%;
            width: 60%;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url("../../icons/questionMark.png");
          }
          .link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;

            a {
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 10px;
              height: 3rem;
              width: 90%;
              background-color: #181717;
              color: white;
              margin: 0.5rem;

              .gitHubIcon {
                background-image: url("../../icons/github).png");
                background-size: contain;
                background-position: center;
                height: 2rem;
                width: 2rem;
              }
              .webAppIcon {
                background-image: url("../../icons/webApp.png");
                background-size: contain;
                background-position: center;
                height: 2rem;
                width: 2rem;
              }
            }
          }
        }
      }
    }
  }
}
.aboutMe {
  @media (min-width: 1000px) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #181717;
    .container {
      background-color: #302f2f;
      border-radius: 30px;
      position: absolute;
      right: 5vw;
      padding: 5vh;
      height: 90vh;
      width: 70vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .text {
        width: 50%;
        color: white;
        font-size: clamp(1rem, -0.875rem + 2.6vw, 1.8rem);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 1rem;

        .name {
          font-size: clamp(2rem, 2rem + 2.6vw, 3rem);
        }
        .schools {
          font-size: clamp(1rem, 1rem + 2.6vw, 1.2rem);
        }
      }
      .photo {
        height: 75vh;
        width: 35vw;
        background: url("../../icons/IMG_7687\ m.jpg") no-repeat center;
        background-size: contain;
      }
    }
  }
}
