@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

//reset
*,
*:before,
*:after {
  box-sizing: border-box;
}


html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.navbar {
  background-color: black;
  height: 100px;
  width: 100%;
}


//nav and buttons

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 0.25s ease-in;
}

.navigation {
  @media only screen and (max-width: 999px) {
    display: none;
  }

  a {
    color: #58c4a6;
    text-decoration: none;
    cursor: pointer;
  }

  @media only screen and (min-width: 1000px) {

    position: absolute;
    top: 5%;
    width: 100%;
    align-items: center;
    height: 10%;

    .navButtons {
      display: flex;
      flex-direction: row;
      justify-content: end;
      margin-right: 5%;

      .navButtonWrapper {
        display: flex;
        height: 70px;
        min-width: 150px;
        width: 10vw;
        justify-content: center;
        align-items: center;

        .navButton {
          background: none;
          color: #c2e8db;
          border: none;
          font-size: 2rem;
          font-family: 'Satisfy', cursive;

        }
      }
    }
  }
}

.mobileNavigation {
  @media only screen and (min-width: 999px) {
    display: none;
  }
  height: 0;
  background-color: transparent;

  a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
  }

  @media only screen and (max-width: 1000px) {

    .menu__btn {
      position: fixed;
      top: 7%;
      right: 7%;
      width: 46px;
      height: 46px;
      cursor: pointer;
      z-index: 1;

      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: #505050;
      }

      .menu__btn > span::before {
        content: '';
        top: -15px;

      }

      .menu__btn > span::after {
        content: '';
        top: 15px;
      }
    }

    .nav-menu {
      background-color: #939090;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      right: -100%;
      transition: 0.2s;
    }

    .nav-menu.active {
      right: 0;
      transition: 0.2s;
    }

    .nav-text {
      font-family: 'Satisfy', cursive;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-self: center;
      align-self: center;
      list-style: none;
      width: 100vw;
      height: 5rem;
    }

    .nav-text a {
      text-decoration: none;
      color: #232323;
      font-size: 2rem;
      width: 100%;
      height: 100%;
      justify-self: center;
      align-self: center;
      display: flex;
      align-items: center;
    }

    a {
      display: flex;
      justify-content: center;
    }

    .nav-menu-items a:hover {
      background-color: #5e5e5e;
    }

    .nav-menu-items {
      justify-self: center;
      align-self: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100vw;
    }

    .navbar-toggle {
      background-color: #ffffff;
      width: 100%;
      height: 80px;
      display: flex;
      justify-self: center;
      align-self: center;
      justify-content: center;
      align-items: center;
    }
  }
}

.mainPage {
  font-family: 'Satisfy', cursive;
  color: yellowgreen;
  font-size: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.about {
  font-family: 'Satisfy', cursive;
  color: yellowgreen;
  font-size: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #2f183d;
}

.projects {
  font-family: 'Satisfy', cursive;
  color: #0f100f;
  font-size: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #a2c986;
}

.contact {
  font-family: 'Satisfy', cursive;
  color: yellowgreen;
  font-size: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #a42424;
}
